.siteHeader {
  margin-top: 0.5em;
  margin-bottom: 0.75em;
  padding: 0em 1em;
  background: var(--glass);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--normal-shadow);
}

.siteHeader > h1 {
  margin: 0.25em 0;
}

.siteHeader > nav > button {
  background-color: var(--terminal-button);
  color: var(--terminal-button-color);
  box-shadow: 0 0.1em 0.1em var(--shadow);
  border: 0;
  border-radius: 0.2em;
  line-height: 1.5;
}

.siteHeader > nav > button:hover {
  filter: brightness(1.5);
}

.siteHeader > nav > button:active {
  background-color: darkkhaki;
  color: black;
}

.light .siteHeader .schemeToggle::before {
  content: '\2600';
}

.dark .siteHeader .schemeToggle::before {
  content: '\263D';
}

@media (prefers-color-scheme: light) {
  .siteHeader > nav > button {
    font-weight: bold;
  }

  .siteHeader .schemeToggle::before {
    content: '\2600';
  }
}

@media (prefers-color-scheme: dark) {
  .siteHeader > nav > button {
    font-weight: normal;
  }

  .siteHeader .schemeToggle::before {
    content: '\263D';
  }
}

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}
