.siteHeader {
  margin-top: 0.5em;
  margin-bottom: 0.75em;
  padding: 0em 1em;
  background: var(--glass);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--normal-shadow);
}

.siteHeader > h1 {
  margin: 0.25em 0;
}

.light .siteHeader .schemeToggle::before {
  content: '\2600';
}

.dark .siteHeader .schemeToggle::before {
  content: '\263D';
}

@media (prefers-color-scheme: light) {
  .siteHeader .schemeToggle::before {
    content: '\2600';
  }
}

@media (prefers-color-scheme: dark) {
  .siteHeader .schemeToggle::before {
    content: '\263D';
  }
}

.light {
  color-scheme: light only;
}

.dark {
  color-scheme: dark only;
}
