:root {
  color-scheme: light dark;
  --background: light-dark(hsl(240, 15%, 50%), hsl(240, 15%, 25%));
  --glass: light-dark(hsla(240, 15%, 65%, 75%), hsla(240, 15%, 40%, 75%));
  --shadow: light-dark(hsla(240, 20%, 20%, 50%), hsla(240, 5%, 10%, 50%));
  --normal-shadow: 0 0.25em 0.5em var(--shadow);
  --terminal-background-color: light-dark(hsla(0, 0%, 75%, 45%), hsla(0, 0%, 0%, 20%));
  --terminal-color: light-dark(black, inherit);
  --terminal-chrome: light-dark(hsl(0, 0%, 10%), hsl(0, 0%, 60%));
  --terminal-button-hover: light-dark(hsl(0, 0%, 30%), hsl(0, 0%, 80%));
  --terminal-button-active: light-dark(hsl(135, 50%, 40%), hsl(135, 50%, 60%));
  --plot-color: var(--terminal-chrome);

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  background-color: var(--background);
}

#root {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  max-height: 100svh;
  box-sizing: border-box;
}
