:root {
  color-scheme: light dark;
  --background: light-dark(hsl(240, 15%, 50%), hsl(240, 15%, 25%));
  --glass: light-dark(hsla(240, 15%, 65%, 75%), hsla(240, 15%, 40%, 75%));
  --shadow: light-dark(hsla(240, 20%, 20%, 50%), hsla(240, 5%, 10%, 50%));
  --normal-shadow: 0 0.25em 0.5em var(--shadow);

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {}
}

body {
  margin: 0;
  background-color: var(--background);
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
