@keyframes flash {
  from {
    opacity: 0.25;
  }
  to {
    opacity: 0.9;
  }
}

.terminal {
  align-self: end;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Fira Code', monospace;
  font-size: 1.2em;
  line-height: 1.5;
  height: 100%;
  padding: 0.5em;
  background-color: var(--terminal-background-color);
  color: var(--terminal-color);
  display: grid;
  grid: auto-flow / auto 1fr;
  gap: 0.5em;
  align-items: center;
  align-content: start;
  counter-reset: terminal-entries;
  box-sizing: border-box;
}

.markerTrack {
  align-self: stretch;
  justify-self: end;
  box-sizing: border-box;
}

.marker,
.currentMarker {
  color: var(--terminal-color);
  position: sticky;
  top: 0;
  padding: 0.1em 0 0.1em 0.5em;
  margin: 0.55em 0 1.5em;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.75em;
}

.markerTrack:has(+ .error) .marker {
  background-color: var(--entry-error-background-color);
  color: var(--entry-error-color);
}

.markerTrack:has(+ .valid) .marker {
  background-color: var(--entry-valid-background-color);
  color: var(--entry-valid-color);
}

.marker::before {
  counter-increment: terminal-entries;
  content: counter(terminal-entries);
}

.reference {
  grid-column: span 2;
  height: 0;
  user-select: none;
}

.currentMarker {
  justify-self: end;
  margin: 0;
}

.currentMarker::before {
  content: '\03bb';
}

.currentMarker,
.currentLine {
  background-color: var(--entry-unknown-background-color);
  color: var(--entry-unknown-color);
  align-self: center;
}

.entry {
  display: grid;
  grid: auto-flow / 1fr auto;
  align-items: baseline;
  box-sizing: border-box;
  place-self: stretch;
  background-color: var(--entry-unknown-background-color);
  color: var(--entry-unknown-color);
  margin-bottom: 1em;
  padding: 0.5em;
  border-top-left-radius: 0.75em;
  border-bottom-left-radius: 1.25em;
}

:is(.entry).error {
  background-color: var(--entry-error-background-color);
  color: var(--entry-error-color);
}

:is(.entry).valid {
  background-color: var(--entry-valid-background-color);
  color: var(--entry-valid-color);
}

:not(.entry).error {
  font-size: 0.8em;
  white-space: pre-wrap;
  background-color: hsla(0, 0%, 0%, 15%);
  padding: 0.5em;
  border-bottom-left-radius: 0.75em;
}

.entryControls {
  justify-self: end;
  align-self: start;
  grid-row: 1;
  grid-column: 2;
}

.entryControls:has(~ .derivation > :global(.visible), ~ .error) {
  position: sticky;
  top: 0.25em;
}

.entry > :not(.entryControls) {
  grid-column: 1;
}

.entry > .input::before {
  content: '\2235';
}

.entry > .output::before {
  content: '\2234';
}

.entry > .input::before,
.entry > .output::before {
  margin-right: 0.2em;
  color: var(--terminal-chrome);
  font-weight: bold;
}

.error {
  background: salmon;
  color: white;
  border: 0.1em solid red;
  margin: 0.5em;
  padding: 0.5em;
}

.caret {
  font-variant-ligatures: no-common-ligatures;
  animation: 1s linear infinite alternate-reverse flash;
}

.entryControls {
  margin-right: 0.5em;
  z-index: 1;
  white-space: nowrap;
}

.entryControls > button {
  cursor: pointer;
  background: var(--terminal-chrome);
  color: light-dark(white, black);
  border: 0;
  padding: 0.1em;
  transition: all 0.2s ease-in-out;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
}

.entryControls > .plotColor {
  cursor: default;
  color: var(--plotColor);
}

.entryControls > button:first-child {
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}

.entryControls > button:last-child {
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

.entryControls > button:hover {
  background: var(--terminal-button-hover);
}

.entryControls > button:active {
  background: var(--terminal-button-active);
}

.entryControls > button:disabled:hover {
  background: var(--terminal-chrome);
}
